/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Navigation Styles
:: Page Name 1
:: Page Name 2
*/


/*	--------------------------------------------------
	:: Navigation Styles
	-------------------------------------------------- */

	
	nav 					{
								position: fixed;
								width: 100%;
								top: 0;
								left: 0;
								right: 0;
								padding-top: 10px;
								z-index: 1010;
								background: #fff;
							}
	#top-nav			 	{
								margin-bottom: 0;
								padding-bottom: 9px;
								background: #fff;
								border-bottom: 2px solid #111315;
								box-shadow: 0 3px 0 #fff;
								width:100%;
							}
	#top-nav,
	footer ul 	 			{ width: 100%; float: left; list-style-type: none; }
	#top-nav li,
	footer ul li  			{ float: left; }
	#top-nav a 				{ font-size: 1em; font-weight: 600; color: #919399; }
	#top-nav a:hover,
	#top-nav a:focus,
	#top-nav a:target,
	#top-nav a.active 		{ color: #111315; }

	.title,.vert-nav	 	{ width: 50% !important; }
	.title		 			{ float: left !important; height: 108px; }
	.vert-nav	 			{ float: right !important; }
	.vert-nav a.button:last-child 		{ margin-bottom: 0; border-bottom: none; }
	.vert-nav a.button 		{ 
								margin-bottom: 5px;
								padding: 6px 0 8px 15px;
								background:none;
								color: #212121;
								border-bottom: none;
								text-align: right;
							}
	#menu .vert-nav,
	#hours .vert-nav,
	#contact .vert-nav 		{ padding: 5px 0px 0px; /* border-left:1px solid #333639;*/ }
	#menu .vert-nav a.button,
	#hours .vert-nav a.button,
	#contact .vert-nav a.button 		{ 
								color: #f3f3f3;
								border-bottom: none;
								padding: 6px 15px 8px;
							}
	#menu .vert-nav a.button:last-child,
	#hours .vert-nav a.button:last-child,
	#contact .vert-nav a.button:last-child 		{ margin-bottom: 5px; border-bottom: none; }
	.sticky #main-nav 		{
		position:fixed;
		top:0;
		left:0;
		width:100%;
	}
	.sticky #main-nav ul 	{
		margin:0 auto;
	}
	.opacity .top {
		opacity:1;
		-webkit-transition:opacity 700ms linear;
		-moz-transition:opacity 700ms linear;
		transition:opacity 700ms linear;
	}

	.opacity .top.hidden {
		opacity:0;
	}

	.no-opacity .top.hidden {
		display:none;
	}


/*	--------------------------------------------------
	:: Main Content & Shared Styles
	-------------------------------------------------- */

	#alt-menu header 		{ padding-top: 69px; }
	header 					{ padding-top: 18px; }
	#hero 					{ padding: 18px 0; }
		.slide-wrap 			{ padding: 0 !important; }
	#menu,#hours,#contact 	{ padding-bottom: 18px; min-height: 420px; }
		div.inner 				{ padding-top: 18px !important; }

	.head 					{ background: #111315; color: #f3f3f3; }
	#googlemap 				{ margin-top: 36px; margin-bottom: 36px; }
	
/*  Typography  */
	#menu h1,
	#hours h1,
	#contact h1 			{ line-height: 108px; text-align: bottom; }
	hgroup 					{ margin-bottom: 18px; display: inline-block; }
	hgroup h2 				{ margin:0; }
	tel 					{ color: #f3f3f3; }

/*	--------------------------------------------------
	:: Menu Styles
	-------------------------------------------------- */

	dl.food-list dt,
	dl.drink-list dt,
	dl.event-list dt 		{ font-weight: 700; }
	dl.food-list dd,
	dl.drink-list dd,
	dl.event-list dd 		{ margin-bottom: 18px; }
	dl.food-list dd p,
	dl.drink-list dd p,
	dl.event-list dd p 		{ display: inline; }

	#tab-box 				{
								position:relative;
								min-height:365px;
								width:100%;
							    float:left;
							    behavior: url('stylesheets/PIE.htc'); /* CSS3 Support for IE */
							}
	#tab-box:before,
	#tab-box:after 			{
							    content:"";
							    position:absolute; 
							    z-index:-2;
							}
	#tab-box:before 		{
							    top:50%;
							    bottom:0;
							    left:30px;
							    right:30px;
							}

	/* NAVIGATION */

	#nav 					{
								width:100%;
								height:54px;
								overflow:hidden;
								display:none;
							}
	#nav ul li 				{
								float: left;
								width: 33%;
								height: 54px;
								line-height: 54px;
								border-bottom: 1px solid #e6e6e6;
								list-style-type: none;
							}
	#nav ul li a 			{
								display: block;
								color: #6f6f6f;
								font-size: 1.2em;
								text-align: left;
								text-decoration: none;		
							}
	#nav ul li a:hover 		{
								border-bottom: 3px solid #111315;
								color: #313131;
								font-weight: bold;
							}
	#nav ul li.active 		{ border-bottom: 3px solid #111315; }
	#nav ul li.active a 	{ color: #313131; font-weight: bold; }
	/* CONTENT */
	#content 				{ margin-top: 36px; }

	#map, .maplink, .maplink span.hover {
								height: 239px;
								width: 239px;
								float: left;
							}
	.maplink 				{
								background: url('../images/contact_map.png') no-repeat left bottom;
								position: relative;
								display: block;
							}
	.maplink * 				{ display: none; }
	.maplink span.hover 	{
								background: url('../images/contact_map.png') no-repeat left top;
								position: absolute;
								top: 0;
								left: 0;
								display: block;
							}


